@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
    </div>

    <div class="content px-4">
        @Body
    </div>
    <footer class="blazorforum-footer">
        Powered by <a href="https://blazorforum.net" target="_blank">BlazorForum</a>
    </footer>
</div>
