@inherits LayoutComponentBase

<div class="sidebar">
    <BlazorForum.Areas.Admin.Shared.NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <BlazorForum.Areas.Admin.Shared.LoginDisplay />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
