.btn-blazorforum{
    background-color:rgb(5, 39, 103);
    color:#ddd;
}

.btn-blazorforum:hover{
    background-color:#3a0647;
    color:#fff;
}

.bg-veryDarkBlue{
    background-color:rgb(5, 39, 103);
}

.clear-validation.modified.valid{
    outline:none;
}

.forum-ul{
    list-style:none;
    padding-left:0px;
}

.forum-ul li{
    border:1px solid #8070a6;
    border-top:none;
    padding:0.5em;
    background-color:#e0dcf8;
}

.forum-ul li:last-child{
    border-bottom-right-radius:0.25em;
    border-bottom-left-radius:0.25em;
}

.forum-post-time{
    font-size:0.8em;
    color:#777;
}

.forum-post-ul{
    margin-top:0.5em;
    list-style:none;
    padding-left:0px;
}

.forum-post-ul li{
    border:1px solid #8070a6;
    border-top:none;
    padding:0.5em;
    background-color:#e0dcf8;
}

    .forum-post-ul li:nth-child(1) {
        border-top: 1px solid #8070a6;
        border-top-left-radius: 0.25em;
        border-top-right-radius: 0.25em;
    }

    .forum-post-ul li:last-child {
        border-bottom-left-radius: 0.25em;
        border-bottom-right-radius: 0.25em;
    }

.forum-description, .forum-category-description, forum-topic-description{
    color:#ccc;
}

.forum-header, .forum-category-header, .forum-topic-header {
    background-image: linear-gradient(90deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    padding: 1em;
    color:#fff;
}

.forum-topic-text-div {
    background-color: #e0dcf8;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    padding: 0.5em;
    color: #000;
    border: 1px solid #8070a6;
    border-top: none;
}

.loading-div {
    background-image: linear-gradient(90deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    padding: 0.5em;
    color: #fff;
    border-radius:0.25em;
}

.se-spin-icon {
    -webkit-animation: spin 4s infinite linear;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

.topic-blazifier{
    font-size:0.8em;
    color:#6e6986;
}