@page "/admin/"

@inject IJSRuntime jsRuntime

<h1>Administration</h1>

Welcome to your administration area.

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeVoidAsync("setDocTitle", "Dashboard | Administration");
    }
}